<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionstring="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HBRTEST;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
  </connectionStrings>
</configuration>