<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/3d05e5b342.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("HBRTEST Frontend", "Index", "Products", null, new { @class="navbar-brand"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Commons/request.js"></script>
</body>
</html>
